<style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f5f5f5;
            color: #4b4b4b;
        }

        .highlight-text {
            color: #8bc990;
        }

        .image-border {
            border: 2px solid #8bc990;
            border-radius: 25%;
            box-shadow: 0 0 20px rgba(139, 201, 144, 0.5), 0 0 30px rgba(139, 201, 144, 0.7);
            transition: box-shadow 0.3s ease-in-out;
        }

        .image-border:hover {
            box-shadow: 0 0 40px rgba(139, 201, 144, 0.7);
        }

        .timeline-section {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .timeline-box {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 30%;
            text-align: center;
        }

        .timeline-box h4 {
            font-size: 1.25rem;
            font-weight: 600;
            color: #333;
        }

        .timeline-box p {
            font-size: 1rem;
            color: #555;
        }

        .timeline-box strong {
            color: #8bc990;
        }

        .bg-white-800 {
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .bg-white-800:hover {
            transform: translateY(-10px);
            /* Move the card slightly upwards */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            /* Add a shadow for a lifted effect */
        }

        html {
            scroll-behavior: smooth;
        }

        .typing-animation {
            display: inline-block;
            white-space: nowrap;
            /* Ensures text stays on one line */
            overflow: hidden;
            /* Hides the overflow for the typing effect */
            border-right: 2px solid #8bc990;
            /* Cursor effect */
            animation: typing 3s steps(40, end), blink 0.6s step-end infinite;
        }

        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        @keyframes blink {
            from {
                border-color: transparent;
            }
            to {
                border-color: #8bc990;
            }
        }
    </style>